:root {
    --bg_color:#1e1e20;
    --Container_bg:#232533;
    --text_color:#ff8e01;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
}

.container {
    background-color: var(--bg_color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

 .box{
   
    z-index: 1;
    height: 350px;
    background-color: var(--Container_bg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
padding:25px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: move 2s ease-in 1s ;
}

@keyframes move {
    from{
        /* transform: translateY(-500px); */
        transform: translateY(1);
        opacity: 0;
       
       
    }
    to {
        transform:translateY(0) ;
      
        opacity: 1;


    }
    
}

.box .data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: -10px;

}
label{
    color: white;
    font-weight: bolder;
    margin-top:15px;
}
.data input{
    padding: 10px;
    background-color: var(--bg_color);
    outline: none;
    border: 1px solid var(--text_color);
    margin-top: -15px;
    color:white;
    
}

.box h1{
    color: var(--text_color);
    margin-top:-25px ;
    font-size: 2rem;
}

.box button{
    padding: 10px;
    width: 100%;
    background-color: var(--text_color);
    color: white;
    /* border: none; */
    border-radius: 12px;
    cursor: pointer;
}

.circle{
    width: 70%;
    height: 70rem;
    background-color: #ff8e01;
    position: absolute;
    right: 50%;
    border-radius: 100%;
    overflow: hidden;
    top: -30%;
    bottom: 0;
    right: -20%;
    
    animation: down 2s ease-in 1s ;

    
}

@keyframes down {
    from{
        transform: scale(0.1);
        
        opacity: 0.2;

    }

    to{
        transform: scale(1);
        /* right: 0; */
        opacity: 1;
    }
    
}

